{erl_opts, [no_debug_info]}.
{deps, [
    jsone,
    {getopt, "1.0.2"},
    {cowboy, "2.9.0"}
]}.

{escript_incl_apps, [turing]}.
{escript_main_app, turing}.
{escript_name, turing}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.

%% Generate code coverage for all test runs.
{cover_enabled, true}.
